
#cabecalho{
    text-align: center;
    height: 100PX;
    color: white; 
    font-size: 25px; 
}
hr{
    width: 30%;
    color: white;  
}
#menu{
    float: left;
    height: 500px;
    color: white;  
    width: 400px;

}
#corpo{
    float: left;
    height: 500px;
    width: 55%;
    background-image: url(../img/nave4.png);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: block;  
}

li{
    font-size: 20px;
    height: 35px; 
    color: white;
    position: relative; 
    top: 10px;  
}

ul{
    list-style-image: url(../img/cloud.png);
    list-style-type: disc;
    height: 2px;
    
}

a:visited{
    color: white;     
}
a:link{
    color: white;  
    text-decoration: none;    
}

body{
   background-image: url(../img/ceu.jpg);
}

li:hover{
    font-weight: bolder; 
}

#imgProxima{
    position: relative;
    top: 420px;
}

table, tr, td{
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 15px;   
    border-radius: 5px;
}

table{
    position: relative;
    display: flexbox;
    border: none;
}

#divProximaImg{
    position: absolute;
    top: 20px;
    left: 60px;
    height: 20px;
}
